body {
	font-family: "arial", "verdana", "sans-serif";
	width: 100%;
	/* margin:10px 200px; */
}

#wrapper {
	margin: 0 20px;

}

/* -----------------------
header
----------------------- */

#logo {
	float: right;
	position: absolute;
	top: 50px;
	right: 240px;
}

h3 {
	padding: 50px;
	text-align: left;
	
}

header {
	background-color: #c78f8b;
	margin: 0 200px;
}


/* -----------------------
start nav bar
----------------------- */

#navbar {
	
	background-color: #d62c20;
	height: 50px;
	width: auto;
	text-align: right;
	padding-right: 30px;

}

#navbar li {
	list-style-type: none;
	display: inline-block;
}

#navbar li a {
 
  	color: white;
 	text-decoration: none;
  	line-height: 25px;
  	padding-top: 10px;
	padding-right: 30px;
	display: block;
	width: auto;
	text-align: center;
	font-weight: bold;
  
}


/* -----------------------
start main home.html
----------------------- */
main {
	padding-bottom: 10px;

}

h1 {
	text-align: center;
	padding: 20px;
}

#bigpicture {
	text-align: center;

}

.imgtext {
	font-size: 20px;
	font-weight: bold;
	word-spacing: 2px;
	margin-top: 5px;
}

#smallpictures {
	
	column-count: 2;
	text-align: center;
	margin: 0 375px;
}	

/* -----------------------
start main blog
----------------------- */

#blogarticle1 {
	margin:10px 200px;	
}

main a {
	background-color: green;
	color: white;
	padding: 10px;
	margin: 200px;
	margin-bottom: 10px;

}

main h3 {
	text-align: center;
	padding: 10px;
	margin: 10px;
}

main img {
	float: left;
	padding-right: 20px ;
}


/* -----------------------
start main aboutme.html
----------------------- */
#aboutme {
	margin: 0 200px;
}

/* -----------------------
start contact me form
----------------------- */

#contactform {
	margin: 0 200px;
}

main h3 {
	padding-top: 10px;
	padding-left: 0px;
	padding-bottom: 10px;
}


/* -----------------------
start footer 
----------------------- */
footer {
	text-align: center;
	background-color: #c78f8b;
	margin:10px 200px;
	padding: 10px 0;
	font-size: 14px;

}

#logofooter {
	padding: 5px 0;
}


