body {
	font-family: "arial", "verdana", "sans-serif";
	margin: auto; /* to center body */


}

#wrapper {
	margin: 0 20px;

}

/* -----------------------
header
----------------------- */

#logo {
	float: right;
	top: 50px;
	right: 60px;
	width: 20%;
	position: absolute; /* to get it in the right corner */
}

h3 {
	padding: 50px;
	text-align: left;
	width: 50%;
	margin-left: 100px;
	
}

header {
	background-color: #c78f8b;

}


/* -----------------------
start nav bar
----------------------- */

#navbar {
	
	background-color: #d62c20;
	height: 50px;
	width: auto;
	text-align: right; /* brings nav to the right */
	padding-right: 50px;
	overflow: hidden; /* to avoid scrollbar */
}

#navbar li {
	list-style-type: none; /* no bullet points */
	display: inline-block; /* gets nav horizontal */
	padding-top: 15px; /* to center it vertically */
}

#navbar li a {
 
  	color: white;
 	text-decoration: none; /* removes the line under text */
  	padding-top: 10px;
	padding-right: 30px;
	width: auto;
	font-weight: bold;
  
}


/* -----------------------
start main home.html
----------------------- */
main {
	padding-bottom: 10px;

}

h1 {
	text-align: center;
	padding: 20px;
}

#bigpicture {
	text-align: center;
	padding: 0;

}

.imgtext {
	font-size: 20px;
	font-weight: bold;
	word-spacing: 2px;
	margin-top: 5px;
}

#smallpictures {
	text-align: center;
	column-count: 2; /* puts those two small pictures next to each other */
	padding: 0 370px; /* puts those two pictures closer together */
}	

/* -----------------------
start main blog
----------------------- */

#blogarticle1 {
	width: 60%;
	text-align: left;
	border: 3px solid lightgrey;
	padding: 10px;
	margin:  0 auto;
}

#button {
	color: #d62c20;
	margin-bottom: 10px;
	text-decoration: none;
}

main div h3 {
	text-align: center;
	padding: 10px;
	margin: 10px;
	background-color: #c78f8b;
}

#divbutton {
	text-align: center;
}

.article {
	padding: 7px;
}


/* -----------------------
start main aboutme.html
----------------------- */
#aboutme {
	width: 60%;
	text-align: left;
	padding: 10px;
	margin:  0 auto;
}

#aboutmeimg {
	 display: block;
 	 margin-left: auto;
     margin-right: auto;
     margin-bottom: 20px;
	}
/* -----------------------
start contact me form
----------------------- */

#contactform {
	margin: 0 auto;
	width: 60%;

}

main h3 {
	padding-top: 10px;
	padding-left: 0px;
	padding-bottom: 10px;
}


/* -----------------------
start footer 
----------------------- */
footer {
	
	text-align: center;
	background-color: #c78f8b;
	padding: 10px 0;
	font-size: 14px;

}

#logofooter {
	padding: 5px 0;
}


